<!DOCTYPE Html>
<html>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
	<head>
		<title>POLLUR</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">

	</head>
	<body>
		<h1> Hvað vilt þú mér?</h1>
		<p><img width="80px" width="80px" src="{{ url_for('static',    filename='cv.jpg') }}" alt="Gummi with a hat">
			Það veit nefnilega enginn, en hér er hitt, þetta og mínar skapanir.</p>
		<h1>Hermir</h1>
		<a href="http://pollur.net/hermir" class="button">Byrja hermi</a>
		<h1>Upplýsingar</h1>
		<p>Vefpóstur: gudmundurfe19@ru.is</p>
	</body>
</html>	